<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Homepage Prof. Marcelo Bezerra de Alcântara</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  <header>

    <div class="wrapper">
      <h1 class="texto">Feira Livre - Av. Valparaiso</h1>
      <nav>
        <ul>
          <li id="home"><a href="#">Home</a></li>
          <li><a href="#localizacao">Localização</a></li>
          <li><a href="#produtos">Produtos</a></li>
          <li><a href="#feirantes">Feirantes</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="image-principal"></section>

  <section id="conteudo-principal">
    <div class="wrapper">
      <article id="localizacao">
        <h3>Localização</h3>
        <p>Estamos localizados na Av. Valparaiso, no bairro Jangurussu, também conhecido como Sítio São João.</p>
      </article>
      <article id="produtos">
        <h3>Produtos</h3>
        <p>Nossa feira é focada na venda de produtos alimentícios naturais, sendo eles:</p>
        <div class="text-next-to-img">
          <div class="item">
            <ul>
              <li><strong>Frutas</strong>, como cajá, maçã, melancia, uva, seriguela e banana</li>
              <li><strong>Legumes</strong>, como cenoura, jerimum, batata-doce, e milho</li>
              <li><strong>Verduras</strong>, como alface, coentro, repolho e cheiro-verde</li>
            </ul>
          </div>
          <div class="item">
            <img src="../images/feiralivre-1.jpg" />
          </div>
        </div>
      </article>
      <article id="feirantes">
        <h3>Feirantes</h3>
        <p>Esses são os nomes que fazem parte da nossa feira:</p>
        <div class="text-next-to-img">
          <div class="item">
            <ul>
              <li>Elita de Souza Valente</li>
              <li>Sonia Neto Farinha</li>
              <li>Gláucio Neto Cavalcanti</li>
              <li>Rinaldo Farinha Barrada</li>
              <li>Sandra Pessoa Viana</li>
            </ul>
          </div>
          <div class="item">
            <img src="../images/feiralivre-2.jpg" />
          </div>
        </div>
      </article>
      <article id="depoimentos">
        <h3>Depoimentos</h3>
        <p>Isso é o que algum de nossos clientes estão falando sobre nós:</p>
        <div>
          <div class="customer-comment-container">
            <div class="comment-container">
              <h5>Gustavo Portela Darmont</h5>
              <p>Gosto bastante desse lugar, é bem agradável, e minhas compras são sempre de qualidade!</p>
            </div>
            <div class="photo-container">
              <img src="../images/customer-1.jpg" />
            </div>
          </div>
          <div class="customer-comment-container">
            <div class="comment-container">
              <h5>Bernardo Milanez Gadelha</h5>
              <p>Venho sempre aqui, é um ótimo lugar para economizar.</p>
            </div>
            <div class="photo-container">
              <img src="../images/customer-2.jpg" />
            </div>
          </div>
        </div>
      </article>
      <div class="clear"></div>
    </div>
  </section>

  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        <p>Copyright 2022. All rights reserved.</p>
      </section>
      <section id="links-rodape">
        <ul>
          <li>
            <h5>Links</h5>
          </li>
          <li><a href="https://www.uni7.edu.br/">Uni7</a></li>
        </ul>
      </section>
    </div>
  </footer>
</body>

</html>